 *
{
    margin: 0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
} 
.main_container
{
    display: flex;
    width: 100%;
    min-height: 100vh;
    min-width: 250px;
    background: linear-gradient(45deg,#08001f,#30197d);  
    position: relative;  
}

.container
{ 
    position: absolute;
    top: 50%;
    left: 50%;
    
    height: 15vw;
    width: 60vw;
    min-width: 250px;
    transform: translate(-50%,-50%);
}

.clock
{
    width: 100%;
    height: 100%;
    background: rgba(240,0,199,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);   
}
.container::before
{
    content: '';
    width: 15vw;
    height: 15vw;
    background: #f41b75;
    border-radius: 5px;
    position: absolute;
    left: -10%;
    top: -50%;
    
}
.container::after
{
    content: '';
    width: 14vw;
    height: 14vw;
    background: #419aff;
    border-radius: 50%;
    position: absolute;
    right: -10%;
    bottom: -40%;
    z-index: -1;
}
.clock span
{
    min-width: 40px;
    width: 110px;
    font-size: 60px;
    position: relative;
    display: inline-block;
    text-align: center;
}
.clock span::after
{
    font-size: 18px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
/*to use after content explictially dont use content in parent as above is parent of below*/
.h::after
{
    content: 'HOURS';
}

.min::after
{
    content: 'MINUTEs';
}
.sec::after
{
    content: 'SECONDS';
}

@media screen and (max-width: 601px) {
    .clock span{
      font-size: 30px;
    }
    .clock span::after{
        font-size: 10px;
    }
  }
  
 
